<h2 style="margin-bottom: 2rem;">L'auteur</h2>
 

<div>
  <h5>Prénom :</h5>
  <p><%= User.find(@author_id).first_name %> </p>
  <h5>Nom :</h5>
  <p><%= User.find(@author_id).last_name %> </p>
  <h5>Email :</h5>
  <p><%= User.find(@author_id).email %> </p>
  <h5>Age :</h5>
  <p> <%= User.find(@author_id).age %>  </p>
  <h5>Ville :</h5>
  <p> <%= User.find(@author_id).city.name %>  </p>
</div>