<h2>Connectez-vous:</h2>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true, class: "form-control" %>
  </div>
  <div style="margin-top: 2rem;">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div style="margin-top: 2rem;">
    <%= f.submit "Se connecter", class: "btn btn-primary" %>
  </div>
<% end %>
